.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #EF4E2D;
}

.content-container {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8); /* Cor de fundo com transparência */
  padding: 20px;
  border-radius: 10px;
}

.app-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.input-field {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}

.click-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #EF4E2D;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.result {
  font-size: 20px;
  color: #333;
}
